<div class="container">
  <h1>Payment Plan</h1>
  <form (ngSubmit)="onSubmit()" #mortgageCalculatorForm="ngForm">
    <div class="form-group">
      <label for="mortgageAmount">Mortgage Amount:</label>
      <input
        type="text"
        class="form-control"
        id="mortgageAmount"
        required
        [(ngModel)]="model.mortgageAmount"
        name="mortgageAmount"
      />
    </div>

    <div class="form-group">
      <label for="interestRate">Interest Rate:</label>
      <input
        type="text"
        class="form-control"
        id="interestRate"
        required
        [(ngModel)]="model.interestRate"
        name="interestRate"
      />
    </div>

    <div class="form-group">
      <label for="amortizationPeriodYear">Amortization Period:</label>
      <select
        class="form-control"
        id="amortizationPeriodYear"
        required
        [(ngModel)]="model.amortizationPeriodYears"
        name="amortizationPeriodYear"
      >
        <option *ngFor="let amorYear of amortYearKeys" [value]="amorYear">
          {{ amortizationPeriodYears[amorYear] }}
        </option>
      </select>
      <!-- <select
        class="form-control"
        id="amortizationPeriodMonth"
        [(ngModel)]="model.amortizationPeriodMonths"
        name="amortizationPeriodMonth"
      >
        <option *ngFor="let amorMonth of amortMonthKeys" [value]="amorMonth">
          {{ amortizationPeriodMonths[amorMonth] }}
        </option>
      </select> -->
    </div>

    <div class="form-group">
      <label for="paymentFrequency">Payment Frequency:</label>
      <select
        class="form-control"
        id="paymentFrequency"
        required
        [(ngModel)]="model.paymentFrequency"
        name="paymentFrequency"
      >
        <option *ngFor="let payFreq of payFreqKeys" [value]="payFreq">
          {{ paymentFrequencies[payFreq] }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="term">Term:</label>
      <select
        class="form-control"
        id="term"
        required
        [(ngModel)]="model.term"
        name="term"
      >
        <option *ngFor="let ter of termKeys" [value]="ter">
          {{ terms[ter] }}
        </option>
      </select>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!mortgageCalculatorForm.form.valid"
    >
      Calculate ...
    </button>
  </form>
</div>

<!-- <hr />

<div class="container">
  <h1>Prepayment Plan</h1>
  <div class="form-group">
    <label for="prepaymentAmount">Prepayment Amount:</label>
    <input
      type="text"
      class="form-control"
      id="prepaymentAmount"
      required
      [(ngModel)]="model.prepaymentAmount"
    />
  </div>

  <div class="form-group">
    <label for="prepaymentFrequency">Prepayment Frequency:</label>
    <select
      class="form-control"
      id="prepaymentFrequency"
      required
      [(ngModel)]="model.prepaymentFrequency"
    >
      <option
        *ngFor="let prepayFreq of prepaymentFrequencies"
        [value]="prepayFreq"
      >
        {{ prepayFreq }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="startWithPayment">Start with Payment:</label>
    <input
      type="text"
      class="form-control"
      id="startWithPayment"
      required
      [(ngModel)]="model.startWithPayment"
    />
  </div>
</div> -->

<hr />

<div [hidden]="!submitted">
  <div class="container">
    <h1>Calculation Summary</h1>
    <table>
      <tr>
        <th>Category</th>
        <th>Term</th>
        <th>Amortization Period</th>
      </tr>
      <tr>
        <td>Number of Payments</td>
        <td>{{ numberOfPaymentsTerm }}</td>
        <td>{{ numberOfPaymentsAP }}</td>
      </tr>
      <tr>
        <td>Mortgage Payment</td>
        <td>{{ mortgagePayment | currency }}</td>
        <td>{{ mortgagePayment | currency }}</td>
      </tr>
      <tr>
        <td>Principal Payments</td>
        <td></td>
        <!-- <td>{{ mortgagePayment | currency }}</td> -->
        <td>{{ principalPaymentsAP | currency }}</td>
      </tr>
      <tr>
        <td>Interest Payments</td>
        <!-- <td>{{ mortgagePayment | currency }}</td> -->
        <!-- <td>{{ mortgagePayment | currency }}</td> -->
      </tr>
      <tr>
        <td>Total Cost</td>
        <td>{{ totalCostTerm | currency }}</td>
        <td>{{ totalCostAP | currency }}</td>
      </tr>
    </table>
  </div>

  <br />
  <br />

  <div class="container">
    <h1>Mortgage Summary</h1>
    <div>Over the {{ APYears }}-year amortization period, you will:</div>
    <ul>
      <li>
        have made <b>{{ numberOfPaymentsAP }}</b>
        {{ frequencyString | lowercase }} payments of
        <b>{{ mortgagePayment | currency }}</b
        >.
      </li>
      <li>
        have paid <b>{{ principalPaymentsAP | currency }}</b> in principal,
        <b>[TODO]</b> in interest, for a total of <b>[TODO]</b>.
      </li>
    </ul>
    <div>Over the {{ termYears }}-year term, you will:</div>
    <ul>
      <li>
        have made <b>{{ numberOfPaymentsTerm }}</b>
        {{ frequencyString | lowercase }} payments of
        <b>{{ mortgagePayment | currency }}</b
        >.
      </li>
      <li>
        have paid <b>[TODO]</b> in principal, <b>[TODO]</b> in interest, for a
        total of <b>[TODO]</b>.
      </li>
    </ul>
    <div>At the end of your {{ termYears }}-year term, you will:</div>
    <ul>
      <li>have a balance of <b>[TODO]</b>.</li>
    </ul>
  </div>
</div>
