<div class="container">
  <h1>Payment Plan</h1>
  <form (ngSubmit)="onSubmit()" #mortgageCalculatorForm="ngForm">
    <div class="form-group">
      <label for="mortgageAmount">Mortgage Amount:</label>
      <input
        type="text"
        class="form-control"
        id="mortgageAmount"
        required
        [(ngModel)]="model.mortgageAmount"
        name="mortgageAmount"
      />
    </div>

    <div class="form-group">
      <label for="interestRate">Interest Rate:</label>
      <input
        type="text"
        class="form-control"
        id="interestRate"
        required
        [(ngModel)]="model.interestRate"
        name="interestRate"
      />
    </div>

    <!-- <div class="form-group">
        <label for="amortizationPeriodYear">Amortization Period:</label>
        <select
          class="form-control"
          id="amortizationPeriodYear"
          required
          [(ngModel)]="model.amortizationPeriodYears"
        >
          <option
            *ngFor="let amorYear of amortizationPeriodYears"
            [value]="amorYear"
          >
            {{ amorYear }}
          </option>
        </select>
        <select
          class="form-control"
          id="amortizationPeriodMonth"
          required
          [(ngModel)]="model.amortizationPeriodMonths"
        >
          <option
            *ngFor="let amorMonth of amortizationPeriodMonths"
            [value]="amorMonth"
          >
            {{ amorMonth }}
          </option>
        </select>
      </div> -->

    <div class="form-group">
      <label for="paymentFrequency">Payment Frequency:</label>
      <select
        class="form-control"
        id="paymentFrequency"
        required
        [(ngModel)]="model.paymentFrequency"
        name="paymentFrequency"
      >
        <option *ngFor="let payFreq of payFreqKeys" [value]="payFreq">
          {{ paymentFrequencies[payFreq] }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="term">Term:</label>
      <select
        class="form-control"
        id="term"
        required
        [(ngModel)]="model.term"
        name="term"
      >
        <option *ngFor="let ter of termKeys" [value]="ter">
          {{ terms[ter] }}
        </option>
      </select>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!mortgageCalculatorForm.form.valid"
    >
      Submit
    </button>
  </form>
</div>

<!-- <hr />

<div class="container">
  <h1>Prepayment Plan</h1>
  <div class="form-group">
    <label for="prepaymentAmount">Prepayment Amount:</label>
    <input
      type="text"
      class="form-control"
      id="prepaymentAmount"
      required
      [(ngModel)]="model.prepaymentAmount"
    />
  </div>

  <div class="form-group">
    <label for="prepaymentFrequency">Prepayment Frequency:</label>
    <select
      class="form-control"
      id="prepaymentFrequency"
      required
      [(ngModel)]="model.prepaymentFrequency"
    >
      <option
        *ngFor="let prepayFreq of prepaymentFrequencies"
        [value]="prepayFreq"
      >
        {{ prepayFreq }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="startWithPayment">Start with Payment:</label>
    <input
      type="text"
      class="form-control"
      id="startWithPayment"
      required
      [(ngModel)]="model.startWithPayment"
    />
  </div>
</div> -->

<hr />

Number of Payments {{ numberOfPayments }}


